<!DOCTYPE html>
<html>
<head>
  <title>Timecrun.ch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<form action="" method="" id="form">
			<fieldset>
				<label for="email_1">First Email Address
					<input type="email" name="email_1" id="email_1" placeholder="First Email Address" />
					<span>Clear Out</span>
				</label>
			</fieldset>
			<fieldset>
				<label for="email_2">Second Email Address
					<input type="email" name="email_2" id="email_2" placeholder="Second Email Address" />
					<span>Clear Out</span>
				</label>
			</fieldset>
			<fieldset>
				<label for="email_3">Third Email Address
					<input type="email" name="email_3" id="email_3" placeholder="Third Email Address" />
					<span>Clear Out</span>
				</label>
			</fieldset>
			<fieldset>
				<label for="message_type_1">
					<input type="radio" name="message_type" id="message_type_1" />
					<span>message_type_1</span>
				</label>
				<label for="message_type_2">
					<input type="radio" name="message_type" id="message_type_2" />
					<span>message_type_2</span>
				</label>
				<label for="message_type_3">
					<input type="radio" name="message_type" id="message_type_3" />
					<span>message_type_3</span>
				</label>
			</fieldset>
			<fieldset>
				<label for="message_template_1">
					<input type="radio" name="message_template" id="message_template_1" />
					<span>message_template_1</span>
				</label>
				<label for="message_template_2">
					<input type="radio" name="message_template" id="message_template_2" />
					<span>message_template_2</span>
				</label>
				<label for="message_template_3">
					<input type="radio" name="message_template" id="message_template_3" />
					<span>message_template_3</span>
				</label>
			</fieldset>
			<fieldset>
				<input type="submit" name="submit" id="submit" value="Send It On" />
			</fieldset>
		</form>

</body>
</html>
